.cart{
    display: flex;
    gap: 20px;
    margin: 20px;
}

.cart-left{
    background-color: white;
    padding: 20px;
}

.cart .cart-left h1{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.cart .cart-left hr{
    border: none;
    height: 1px;
    background-color: #dadada;
}

.cart .cart-left .product-cart-list{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 24px 0 12px 12px;
}

.cart .cart-left .product-cart-titleprice{
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.cart .cart-left .produc-cart-bestseller{
    font-size: 12px;
    margin-top: 10px;
}

.cart .cart-left .produc-cart-bestseller span{
    font-size: 13px;
    background-color: #c45500;
    color: #fff;
    padding: 3px 8px;
}

.cart .product-cart-list .product-cart-stock{
    font-size: 13px;
    color: #007600;
    margin: 4px 0;
}

.cart .product-cart-list .cart-delivery{
    font-size: 15px;
}

.cart .product-cart-list .product-cart-return{
    font-size: 15px;
    color: #007185;
    font-weight: 400;
}

.cart .product-cart-list .product-cart-giftotpion{
    font-size: 13px;
    margin: 3px 0; 
    color: #494949;
}

.cart .product-cart-list .product-cart-giftotpion span{
    color: #007185;
}

.cart .product-cart-list .prduct-cart-specs{
    max-width: 150px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3px;
    font-size: 13px;
    margin: 7px 0;
}

.cart .product-cart-list .cart-list-action{
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #007185;
}

.cart .cart-list-action hr {
    height: 20px;
    width: 1px;
    background-color: #cfcfcf;
}

.cart .cart-list-action select{
    padding: 5px;
    border-radius: 6px;
    background-color: #f3f3f3;
}

.cart .cart-list-subtotal{
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
}

.cart-right{
    background-color: white;
    padding: 20px;
    max-height: 220px;
    min-width: 280px;
}

.cart-right .cart-free-delivery{
    display: flex;
    font-size: 13px;
}

.cart-right .cart-subtotal{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.cart-right .cart-right-gift{
    margin: 7px 0;
    font-size: 14px;
}

.cart-right button{
    width: 100%;
    height: 30px;
    margin: 15px 0;
    background-color: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cart-right button:hover{
    background-color: #ebc712;
}

.footer-cart{
    margin-top: 50px;
}
