@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --background-primary: #dadada;
    --background-secondary: #e5e5e5;
    --background-icon: #ffd64f;
    --background-nav: #131921;
    --background-sub-nav: #232f3e;
    --color-white: #fff;
    --color-light: #c4c4c4;
    --color-black: #000;
    --color-gray: #808080;
    /* --color-dark: #; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: var(--background-primary);
}

a{
    text-decoration: none;
    color: inherit;
}


/* NAVBAR MENU */
.wrapper{
    margin: 0 10%;
}

/* NAVBAR MENU */

nav{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-nav);
    padding: 10px 20px;
    color: var(--color-white);
}

nav a img{
    cursor: pointer;
}

nav .nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: var(-color-light);
}

nav .nav-country h1{
    font-size: 14px;
    color: var(--color-white);
}

nav .nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-gray);
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}
nav .nav-search .nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background-color: var(--background-secondary);
    border-radius: 4px 0 0 4px;
}

nav .nav-search .nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
nav .nav-search .nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background-color: var(--background-icon);
    border: 0 4px 4px 0;
    border-radius: 0 4px 0 4px;
}

nav .nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}
nav .nav-text{
    margin-left: 15px;
}

nav .nav-text p{
    font-size: 10px;
}

nav .nav-text h1{
    font-size: 14px;
}

nav .nav-cart{
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: var(--color-white);
}

.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px; 
    background-color: var(--background-sub-nav);
    color: var(--color-white);
    font-size: 14px;
    font-weight: 300;
}

.header-slider ul{
    display: flex;
    overflow-y: hidden;
}
.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background-color: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.header-slider .control-next{
    right: 10%;
}

.header-slider ul .header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, var(--color-black) 50%, transparent 100%);
}

/* NAV BOTTOM MENU */

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

/* HEADER PRODUCTS */

.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}
.box-row .box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background-color: var(--color-white);
    max-width: 24%;
    min-width: 200px;
    z-index: 1;
 }

 .box-row .box-col a{
    font-size: 13px;
    color: #009999;
    font-weight: 500;
 }

 .header-box{
    margin-top: -15vw;
 }

 /* PRODUCTS SLIDER */

 .products-slider{
    background-color: var(--color-white);
    margin: 0 30px 0 30px;
    padding: 20px;
 }

 .products-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
 }
 .products-slider .products img{
    max-width: 200px;
    max-height: 200px;
 }

 .products-slider .products::-webkit-scrollbar{
    display: none;
 }

 /* PRODUCTS SLIDER WITH PRIRCES */

 .prduct-slider-with-price{
    background-color: var(--color-white);
    margin: 0 30px 15px 30px;
    padding: 20px;
 }

 .prduct-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
 }

 .prduct-slider-with-price .products::-webkit-scrollbar{
    display: none;
 }

 .prduct-slider-with-price .products .product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background-color: #fbfbfb;
 }

 .prduct-slider-with-price .product-card img{
    width: 110px;
    margin: 0 50px;
 }

 .prduct-slider-with-price .product-offer p{
    background-color: #be0b3b;
    color: var(--color-white);
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
 }

 .prduct-slider-with-price .product-offer span{
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
 }

 .prduct-slider-with-price .product-card .product-price{
    color: gray;
    font-size: 13px;
 }
  
 .prduct-slider-with-price .product-card h4{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
 }
 
 /* Footer */

 footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    background-color: var(--background-nav);
    padding: 20px 60px;
 }

  /* MEDIA QUERIES */

  @media only screen and (max-width: 900px){
    nav{
        flex-wrap: wrap;
    }
    .nav-search{
        order: 7;
        margin: 15px 0 5px;
        min-width: 300px;
    }
    .box-row .box-col{
        max-width: 48%;
    }
}

@media only screen and (max-width: 1500){
    /* NAVBAR MENU */
    .wrapper{
        margin: 0px 0px;
    }
}

